{% extends 'blog/layout.html'%}
{%block title%}edit | {{block.super}}{% endblock %}


 <!-- start breadcrumb -->
{% block breadcrumb %}
    <nav aria-label="breadcrumb" class="mt-2">
        <div class="container">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="{% url 'blog:home' %}">Home</a></li>
              <li class="breadcrumb-item "><a href="{% url 'blog:detail' pk=blog.id %}">Detail</a></li>
              <li class="breadcrumb-item active"><a href="#">Edit</a></li>
            </ol>
        </div>
    </nav>
{% endblock %}
<!-- end breadcrumb -->

{% block content %}
<h1>Edit this blog</h1>
<form  action="" method="post">
    {% csrf_token %}
    {{form.as_p}}
    <input type="submit" name="" value="Edit" class="btn btn-primary">

</form>

<hr>
<div class="row">
    <div class="col-lg-6">
        <h5><a href="{% url 'blog:home' %}" class="btn btn-success">Go to Home page</a></h5>
    </div>
</div>


<h5 class="mt-3"><a href="{% url 'blog:home' %}"><strong>&#8592;</strong>Back to home</a></h5>
{% endblock %}
